body{

    margin : 100px;
}

.image{
    background-image: url(images/my_pic.jpg);
    background-size: cover;
    width: 45%;
    height: 500px;
    border: 10px solid black;
    border-radius: 500px;
}

.image:hover{
    background-image: url(images/sec_pic.JPG);
    background-size: cover;

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(rgb(184, 133, 15) , rgb(210, 28, 89)
    
    );
    /* background : linear-gradient(rgb(184, 133, 15) , rgb(210, 28, 89)); */
    /* background: rgb(184, 133, 15); */
   padding: 100px;
   border: 10px solid black  ;
}

.card-details{
    margin: 60px auto 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: sans-sarif;
    color: rgb(0, 0, 0);
}